<mat-card class="card">
  <mat-card-title class="card-title mat-elevation-z2"> Éducation </mat-card-title>
  <mat-card-subtitle class="card-subtitle">
    <a target="_blank" href="assets/DiplomeMaitrise.JPG"> Maîtrise en sciences appliquées (dir. Alain Hertz), Polytechnique Montréal (2011-2013)
    </a>
  </mat-card-subtitle>
  <mat-card-content class="card-content">
    Mathématiques appliquées spécialisation recherche opérationnelle, dép. de Génie Industrielle
  </mat-card-content>
  <br>
  <div class="divider"></div>

  <mat-card-subtitle class="card-subtitle"> <a target="_blank" href="assets/DiplomeBac.JPG"> Baccalauréat ès sciences, Université de Montréal (2008-2011) </a>
  </mat-card-subtitle>
  <mat-card-content class="card-content">
    Baccalauréat bidisciplinaire en Mathematiques et Physiques, dép. de Physique
  </mat-card-content>
  <br>
  <div class="divider"></div>
  <mat-card-subtitle class="card-subtitle"> <a href="assets/AttestationDEC.pdf"> DEC. Sciences Natures CEGEP Garneau (2005-2008) </a>
  </mat-card-subtitle>
  <mat-card-content class="card-content">
    Profil génie et santé complétés au <a target="_blank" href="assets/DiplomeBI.JPG">Bac. International</a>
  </mat-card-content>
  <br>

  <mat-card-subtitle class="card-subtitle"> Formation Continue </mat-card-subtitle>
  <mat-card-content class="card-content">
    <ul>
      <li> <a target="_blank" href="assets/UC-COVPNC1W.pdf">Certifications Front End Angular 2+</a></li>
      <li> <a target="_blank" href="assets/M101N - Course Completion Confirmation.pdf"> Formation NoSQL M101N: MongoDB
          for .NET Developers</a> </li>
      <li> <a target="_blank" href="assets/AttestationCSS.pdf">Formation Front End CSS 3</a> </li>
      <li> Formation Front End CSS avec Bootstrap </li>
      <li> <a target="_blank" href="http://ivado.ca/formations/ecole-dete-francophone-apprentissage-profond/">ÉCOLE IVADO/MILA EN APPRENTISSAGE PROFOND 2017</a>  </li>
      <li> Google Cloud Platform Conference Montreal </li>
    </ul>
  </mat-card-content>

</mat-card>