<mat-card>
  <mat-card-title class="card-title mat-elevation-z2"> Résumé de carrière </mat-card-title>
  <mat-card-content class="card-content">
    <p>
      M. Guillaume Blanchet compte plus de 10 années d'expérience en développement, conception, architecture, refactoring, gestion et développement de solutions logicielles. Son expertise réside dans la mise à niveau de grands systèmes informatiques et l’exécution de mandats ambitieux avec des délais impartis très courts.
    </p>
    <p>
      M. Blanchet est responsable de l’élaboration et la mise en place de solutions logicielles pour des multinationales, des organisations internationales et des gouvernements. M. Blanchet a élaboré une suite de stratégies uniques en software pour livrer à grande échelle et à coût modique des solutions répondant aux besoins d’affaires de ses clients.
    </p>
    <p>
      Il a été responsable d’une équipe de 5 développeurs avant d'être à son compte et a été chargé de projet technique pour de nombreux mandats.
    </p>
    <p>
      Il est reconnu pour son esprit d’innovation et sa capacité à comprendre les besoins et enjeux de ses clients.
    </p>
  </mat-card-content>
</mat-card>