<mat-card class="card">
    <mat-card-title class="card-title mat-elevation-z2"> Honneurs et Prix </mat-card-title>
    <mat-card-subtitle class="card-subtitle"> Choix du meilleur itinéraire pour un automobiliste (2012) </mat-card-subtitle>
    <mat-card-content class="card-content">
        Fédération Française des jeux Mathématique &amp; Société de Calcul Mathématique
    </mat-card-content>

    <div class="divider"></div>

    <mat-card-subtitle class="card-subtitle"> Bourse du Conseil de recherches en sciences naturelles et en génie du Canada (2009)  </mat-card-subtitle>
    <mat-card-content class="card-content">
      Université de Montréal
    </mat-card-content>

    <div class="divider"></div>

    <mat-card-subtitle class="card-subtitle"> Bourse une cité pour l'Homme en philosophie (2008)  </mat-card-subtitle>
    <mat-card-content class="card-content">
        Collège L’aﬂèche, Trois-Rivieres
    </mat-card-content>
</mat-card>