@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    min-height: 100%;
    padding-bottom: 20px;
    font-family: roboto;
}

/* See https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    justify-content: center;
    padding: 12px;
}

h1 {
    margin-top: 0;
}

button {
    margin-left: auto;
    margin-right: auto;
}

h1, h2, address {
    text-align: center;
}

address {
    display: flex;
    align-items: center;
    justify-content: center;
}

address a {
    padding: 3px 10px 0 0;
}

.header {
    background-color: #3f51b5;
    color: #fff;
    margin-bottom: 20px;
    padding: 24px;

}

.mat-card {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 24px !important;
}

.card-title {
    background-color: #3f51b5;
    color: #fff;
    padding: 12px;
}

.card-subtitle, .card-content {
    margin: 24px;
}

.card-subtitle {
    font-size: 16px;
}

.divider {
    border-top: 1px solid rgba(0,0,0,.12);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;

}

