<mat-card class="card">
    <mat-card-title class="card-title mat-elevation-z2"> Publications </mat-card-title>
    <mat-card-subtitle class="card-subtitle"> 2011 </mat-card-subtitle>
    <mat-card-content class="card-content">
        G. Blanchet, M.C. Delfour, A. Garon, Quadratic Models to Fit Experimental Data of Paclitaxel R elease K inetics from Biodegradable Polymers, SIAM J. Appl. Math. 71, pp. 2269-2286
    </mat-card-content>

    <div class="divider"></div>

    <mat-card-subtitle class="card-subtitle"> Co-author 2009  </mat-card-subtitle>
    <mat-card-content class="card-content">
        Actes du Quatrieme Colloque: Une cité pour l’homme, science et religion, coll. Résurgences, 140 pages.
    </mat-card-content>

</mat-card>